---
layout: default
title:  "Pozdravljeni na lovu za svobodo!"
subtitle: "DESIGN, PODJETNIŠTVO, DRUŽINA."
permalink: /zacni-tukaj/ 
image: financna-svoboda-lovzasvobodo.jpg
type: featured
---

<section>
    <h1>Kdo, kaj, kje in zakaj?</h1>

    <p>V moji glavi se ves čas odvijajo vedno nove in nove zamisli, nove ideje, novi cilji in novi načini kako jih doseči. Pred kratkim sem naletel na motivacijsko misel, za katero želim da je glavni slogan tega bloga - "Končaj stvari, ki si jih začel". Želim, da ta blog postane moje ogledalo. Nekaj, kar me bo vsak dan spomnilo na moje sanje in kar bo mojemu otroku vzor.</p>

    <p>Če se zazrem vase, lahko hitro ugotovim, kaj so najpomembnejše stvari, v mojem življenju. Nikakor si ne znam predstavljati svojega življenja brez svoje družine - Maje, Lukasa in treh kosmatincev. Med tem ko drugi svoj prosti čas preživljajo v druženju s prijatelji ali sproščanjem pred televizorjem, je moje najljubše opravilo oblikovanje spletnih strani ali preprostih vizualnih elementov. In zadnje, a nič manj pomembno, v zadnjem času se veliko posvečam iskanju svobode - finančne svobode.</p>

    <h2>Podjetništvo</h2>

    <p>Finančna svoboda je zame(!) točka v življenju, ko tvoje premoženje ali tvoja sredstva predstavljajo dovolj visok prihodek, da se lahko posvetiš stvarem, ki jih počneš zelo rad. Moj največji cilj je, da živim življenje: polno pozitivnih trenutkov, kjer lahko veliko časa namenim svoji družini in v katerem lahko družini zagotovim soliden standard življenja.</p>

    <p>Nakazal sem že, da je finančna svoboda za vsakega drugačna. Zame je finančno svoboden tisti, ki ne čuti strahu pred izgubo denarja oziroma tisti, ki ima toliko pasivnih prihodkov, da lahko pokrije vse nujne življenjske izdatke, hkrati pa je brez težav sposoben financirati svojo lastno ustvarjalnost in dobrodelnost.</p>

    <div class="posts">
		{% for post in site.categories.podjetnistvo limit:3 %}

		{% include post.html type='category' %}

		{% endfor %}
	</div>

    <p>Več na teme podjetništva, finančne svobode, pasivnih prihodkov in podobno lahko najdeš na <a href="{{site.url}}/podjetnistvo">tej povezavi</a>.</p>

    <h2>Splet in design</h2>

    <p>Sicer brez vsakršne formalne izobrazbe sem se v srednji šoli spoznal z osnovami manipulacije slik in naredil nekaj zelo preprostih modifikacij. Mislim, da je moja prva poteza bila, da svojo glavo prilepim na mišičasto telo in si postavim cilj za naslednjih 10 let. :smile: Spoznal sem pomen barv, prednosti vektorjev, pomembnost uporabniške izkušnje in učinkovitih dejavnikov vsakega uporabniškega vmesnika.</p>

    <p>Danes je za mano več manjhnih in velikih projektov vzpostavitev spletnih strani, sodelovanja pri oblikovanju blagovnih znamk in celostne grafične podobe podjetja. Kljub vsemu zase še vedno pravim, da sem ljubiteljski oblikovalec. Ne zaradi slabe kvalitete, saj je v meni tudi veliko perfekcionista, ampak zato, ker to delo ljubim. Ampak tukaj nisem za to, da predstavljam sebe.</p>

    <div class="posts">
		{% for post in site.categories.splet-in-design limit:3 %}

		{% include post.html type='category' %}

		{% endfor %}
	</div>

    <p>Prebrskaj <a href="{{site.url}}/splet-in-design">to povezavo</a>, če te zanima kako lahko s svojimi nasveti pomagam tebi.</p>

    <h2>Ati v zagati</h2>

    <p>Pisal se je 10. avgust leta 2017, ko je v moje življenje stopil Lukas. Veliko krat sem se spraševal, kako je lahko, v filmih ali intervjujih uspešnih športnikov, odgovor na vprašanje "kako se počutite?" - neopisjivo. No zdaj vem. Odkar pomnim sem si želel družino v polnem pomenu besede. In če sva do tistega popoldneva bila z Majo samo par, smo sedaj luškana mlada družina.</p>

    <p>Ampak otrok s seboj prinese veliko več, kot samo neopisljive občutke ob porodu. Kot fant, ki pred tem še nikoli ni držal v rokah nobenega otroka, sem se srečal s pravilnim pestovanjem otroka, previjanjem plenic, neutolažljivim jokom, nočnim zbujanjem, prvim nasmehom in nenazadnje s prvo besedo - MUE. :) Na prvi pogled sem napisal veliko več negativnega, ampak nikakor me tukaj ne gre razumeti narobe, vse to počnem z nasmeškom na obrazu.</p>

    <div class="posts">
		{% for post in site.categories.ati-v-zagati limit:3 %}

		{% include post.html type='category' %}

		{% endfor %}
	</div>

    <p>Dogodivščine, ki bo nekega dne izjemen spomin, a v tem trenuku zabavno branje, so na <a href="{{site.url}}/ati-v-zagati}}">tej povezavi</a>.</p>
</section>