---
layout: default
---

<!-- Featured Post -->
{% for page in site.pages %}
	{% if page.type == 'featured' %}
	<section id="banner">
		<div class="content">
			<header>
				<h1><a href="{{ page.url | downcase | prepend: site.url }}">{{ page.title }}</a></h1>
				<p>{{ page.subtitle }}</p>
			</header>
			<p>{{ page.content | strip_html | truncatewords: 60 }}</p>
			<ul class="actions">
				<li><a href="{{ page.url | downcase | prepend: site.url }}" class="button special big">Začni tukaj</a></li>
				<li><a href="{{ '/povzetek/' | prepend: site.url }}" class="button big">Seznam prispevkov</a></li>
			</ul>
		</div>
		<span class="image object">
			<img src="{{ '/assets/img/f/' | prepend: site.url | append: page.image }}" alt="{{ page.title }}">
		</span>
	</section>
	{% endif %}
{% endfor %}

<!-- Section -->
<section>
	<header class="major">
		<h2>Kaj najdeš na tej strani?!</h2>
	</header>
	<div class="features">
		<article>
			<span class="icon fa-bar-chart"></span>
			<div class="content">
				<h3>Podjetništvo in finance</h3>
				<p>Moj največji cilj je, da živim dobro življenje. Življenje polno pozitivnih trenutkov, kjer lahko 
					veliko časa namenim svoji družini in v katerem lahko družini zagotovim soliden standard življenja.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-desktop"></span>
			<div class="content">
				<h3>Splet in design</h3>
				<p>France Prešeren bi tako opisal svojo Julijo, jaz tako pišem o oblikovanju. Design in prenos mojih kreacij
					v realnost je moja ljubezen. Spletne strani, uporabniška izkušnja, animacije, raziskave in več.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-child"></span>
			<div class="content">
				<h3>Ati v zagati</h3>
				<p>10. avgusta leta 2017 je v moj življenje prišel moj sin Lukas. To je trenutek, ki zame predstavlja 
					veliko prelomnico življenja. Po dolgem času v življenju nimam pojma kaj delam. Se pa trudim.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-line-chart"></span>
			<div class="content">
				<h3>Izboljšanje samega sebe</h3>
				<p>Dolga leta so bile knjige za izboljšanje sebe odveč in v breme. No danes uživam v prebiranju
					takšnih in drugačnih izkušenj. Dogodkov iz katerih se lahko nekaj naučimo brez da naredimo enako napako.</p>
			</div>
		</article>
	</div>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>Izpostavljeni prispevki, ki bi te lahko zanimali..</h2>
	</header>
	<div class="posts">
		{% for post in site.posts limit:6 %}

		{% include post.html %}

		{% endfor %}
	</div>
</section>