{% assign months = "januar|februar|marec|april|maj|junij|julij|avgust|september|october|november|december" | split: "|" %}
{% assign m = include.date | date: "%-m" | minus: 1 %}
{% assign day = include.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = include.date | date: "%Y" %}

{% assign words = content | number_of_words %}


<!-- {{ day }}. {{ month }} {{ year }} -->
<div class="post-date"> 
    <span><i class="fa fa-calendar-o" aria-hidden="true"></i> Obljavljeno: <time datetime="{{include.post.date | date:"%Y-%m-%d"}}" pubdate>{{ day }}. {{ month }} {{ year }}</time></span>
    <span><i class="fa fa-clock-o" aria-hidden="true"></i> Čas za branje: {% if words < 360 %} 1 min. {% else %} {{ words | divided_by:180 }} min {% endif %}</span>
</div>