<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="{{ site.url }}/">Domov</a></li>
                <li><a href="{{ site.url }}/">O meni</a></li>
                <li>
                    <span class="opener active">Kategorije</span>
                     <ul>
                        {% assign sortedCategories = site.categories | sort %}
                        {% for category in sortedCategories %}
                        <li><a href="{{ site.url }}/kategorija/{{ category }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul> 
                </li>
                <li><a href="#">Maximus Erat</a></li>
                <li><a href="#">Sapien Mauris</a></li>
                <li><a href="#">Amet Lacinia</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Aktualno // Zanimivo</h2>
            </header>
            <div class="mini-posts">
                {% for miniPost in site.posts limit:3 %}
                <article>
                    <a href="{{ root_url }}{{ miniPost.url }}" class="image"><img src="{{ root_url }}{{ miniPost.featured-image }}" alt="" /></a>
                    <p><strong><a href="{{ root_url }}{{ miniPost.url }}">{{ miniPost.title }}</a></strong><br/>
                        {{ miniPost.subtitle }}</p>
                </article>
                {% endfor %}
            </div>
            <ul class="actions">
                <li><a href="#" class="button">Prebrskaj ostale</a></li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Ostani v stiku</h2>
            </header>
            <p>{{ site.description }}</p>
            <ul class="contact">
                <li class="fa-envelope-o"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                <li class="fa-instagram"><a href="https://instagram.com/lovzasvobodo">instagram.com/lovzasvobodo</a></li>
                <li class="fa-home">Maribor, Slovenija</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Lov za svobodo. Vse pravice pridržane.</p>
            <p class="copyright">Vir fotografij: <a href="https://unsplash.com">Unsplash</a>. Oblikovanje: <a href="https://html5up.net">HTML5 UP</a>. Izvedba: <a href="https://timaja.si">Timaja</a></p>
        </footer>

    </div>
</div>