---
layout: default
type: archive
---

<section>
  <header class="main">
    <h2 class="archive-title">Kategorija {{ page.title }}</h2>
  </header>
  {{ content }}
</section>

{% if site.categories[page.category] %}
<section>
  <div class="posts">
    {% for post in paginator.posts %}
    <article>
      <a href="{{ root_url }}{{ post.url | downcase }}" class="image"><img src="{{ root_url }}{{ post.featured-image }}" alt="" /></a>
      <h3><a href="{{ root_url }}{{ post.url | downcase }}">{{ post.title }}</a></h3>
      <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
      <ul class="actions">
        <li><a href="{{ root_url }}{{ post.url | downcase }}" class="button">Preberi več</a></li>
      </ul>
    </article>
    {% endfor %}
  </div>
</section>
{% else %}
<p>V tej kategoriji ne obstaja noben prispevek. Vrni se v kratkem, ko bo zagotovo kaj novega.</p>
{% endif %}

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button">&larr; Prejšnja stran</a></li>
  {% else %}
    <li><span class="button disabled">&larr; Prejšnja stran</span></li>
  {% endif %}
  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button">Naslednja stran &rarr;</a></li>
  {% else %}
    <li><span class="button disabled">Naslednja stran &rarr;</span></li>
  {% endif %}
</ul>
{% endif %}