---
layout: default
type: archive
---

<section>
  <header class="main">
    <h1 class="archive-title">Kategorija {{ page.category }}</h1>
  </header>
  {{ content }}
</section>



<div class="wrap">
{% if site.categories[page.category] %}
  <div class="group-year">
    {% for post in site.categories[page.category] %}
      <section id="category-page">
        
        <span class="image object">
            <img src="{{ root_url }}{{ post.featured-image }}" alt="" />
        </span>
          
        <div class="content">
            <header>
                <h2><a href="{{ root_url }}{{ post.url | downcase }}">{{ post.title }}</a></h2>
                <p>{{ post.subtitle }}</p>
            </header>
            <p>{{ post.excerpt }}</p>
            <ul class="actions">
                <li><a href="{{ root_url }}{{ post.url | downcase }}" class="button big">Preberi več</a></li>
            </ul>
        </div>
      </section>
    {% endfor %}
  </div>
{% else %}
  <p>V tej kategoriji ne obstaja noben prispevek. Vrni se v kratkem, ko bo zagotovo kaj novega.</p>
{% endif %}
</div>