<!DOCTYPE HTML>

<html>

<head>
{% include head.html %}
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner search-results s-inactive" id="search-results">
				<!-- Header -->
				{% include header.html %}
				{% include search_results.html %}
			</div>
			<div class="inner main-content" id="main-content">

				<!-- Header -->
				{% include header.html %}

				{{ content }}
			</div>
		</div>

		<!-- Sidebar -->
		{% include sidebar.html %} 

	</div>

	<!-- Scripts -->
	{% include scripts.html %}
	<!-- Google analytics -->
	{% include analytics.html %}

</body>

</html>