<!DOCTYPE HTML>

<html>

<head>
	{% include head.html %}
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				{% include header.html %}

				<!-- Banner -->
				{% assign featPost = site.posts.first %}
				{% include banner.html %}

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Zakaj lov za svobodo?!</h2>
					</header>
					<div class="features">
						<article>
							<span class="icon fa-bar-chart"></span>
							<div class="content">
								<h3>Podjetništvo in finance</h3>
								<p>Moj največji cilj je, da živim dobro življenje. Življenje polno pozitivnih trenutkov, kjer lahko 
									veliko časa namenim svoji družini in v katerem lahko družini zagotovim soliden standard življenja.</p>
							</div>
						</article>
						<article>
							<span class="icon fa-line-chart"></span>
							<div class="content">
								<h3>Izboljšanje samega sebe</h3>
								<p>Dolga leta so bile knjige za izboljšanje sebe odveč in v breme. No danes uživam v prebiranju
									takšnih in drugačnih izkušenj. Dogodkov iz katerih se lahko nekaj naučimo brez da naredimo enako napako.</p>
							</div>
						</article>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Izpostavljeni prispevki, ki bi te lahko zanimali..</h2>
					</header>
					<div class="posts">
						{% for post in site.posts offset: 1 limit:6 %}
						<article>
							<a href="{{ root_url }}{{ post.url }}" class="image"><img src="{{ root_url }}{{ post.featured-image }}" alt="" /></a>
							<h3><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h3>
							<p>{{ post.excerpt }}</p>
							<ul class="actions">
								<li><a href="{{ root_url }}{{ post.url }}" class="button">Preberi več</a></li>
							</ul>
						</article>
						{% endfor %}
					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		{% include sidebar.html %} 

	</div>

	<!-- Scripts -->
	{% include scripts.html %}

</body>

</html>