<!DOCTYPE HTML>

<html>

<head>
	{% include head.html %}
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				{% include header.html %}

				<!-- Banner -->
				{% assign featPost = site.posts.first %}
				{% include banner.html %}

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Erat lacinia</h2>
					</header>
					<div class="features">
						<article>
							<span class="icon fa-diamond"></span>
							<div class="content">
								<h3>Portitor ullamcorper</h3>
								<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla
									amet lorem feugiat tempus aliquam.</p>
							</div>
						</article>
						<article>
							<span class="icon fa-paper-plane"></span>
							<div class="content">
								<h3>Sapien veroeros</h3>
								<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla
									amet lorem feugiat tempus aliquam.</p>
							</div>
						</article>
						<article>
							<span class="icon fa-rocket"></span>
							<div class="content">
								<h3>Quam lorem ipsum</h3>
								<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla
									amet lorem feugiat tempus aliquam.</p>
							</div>
						</article>
						<article>
							<span class="icon fa-signal"></span>
							<div class="content">
								<h3>Sed magna finibus</h3>
								<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla
									amet lorem feugiat tempus aliquam.</p>
							</div>
						</article>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Ipsum sed dolor</h2>
					</header>
					<div class="posts">
						{% for post in site.posts offset: 1 limit:6 %}
						<article>
							<a href="{{ root_url }}{{ post.url }}" class="image"><img src="{{ root_url }}{{ post.featured-image }}" alt="" /></a>
							<h3>{{ post.title }}</h3>
							<p>{{ post.description }}</p>
							<ul class="actions">
								<li><a href="{{ root_url }}{{ post.url }}" class="button">Preberi več</a></li>
							</ul>
						</article>
						{% endfor %}
					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		{% include sidebar.html %}

	</div>

	<!-- Scripts -->
	{% include scripts.html %}

</body>

</html>