<!DOCTYPE HTML>

<html>

<head>
    {% include head.html %}
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                {% include header.html %}

                <!-- Content -->
                <section>
                    <header class="main">
                        <h1>Generic</h1>
                    </header>

                    <span class="image main"><img src="images/pic11.jpg" alt="" /></span>

                    {{ content }}

                </section>

            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar.html %}

    </div>

    <!-- Scripts -->
    {% include scripts.html %}

</body>

</html>