---
layout: default
---

<!-- Content -->
<section>
    <header class="main">
        <h1>{{ page.title }}</h1>
    </header>
    {% include post_date.html date=page.date %}
    <span class="image main"><img src="{{ root_url }}{{ page.post-image }}" alt="" /></span> 

    {{ content }} 
</section>

{% include email_optin.html %}

{% if site.disqus_shortname %}
<section>
    <header class="main">
        <h2>Razprava</h2>
    </header>
    {% include disqus_comments.html %}
</section>
{% endif %} 